<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blogcount.title %>
</p>

<p>
  <strong>Wordcount:</strong>
  <%= @blogcount.wordcount %>
</p>

<%= form_with(local: true) do |form| %>

 <table class="table table-bordered">
   <tr>
     <th>Idea</th>
     <th>Wordcount</th>
   </tr>
    <% calculateParagraphs(@blogcount.paragraphs).each do |paragraph| %>
    <tr>
      <td><%= form.text_field :paragraph_title, :value => paragraph["idea"] %></td>
      <td><%= calculateWordcount(calculateParagraphs(@blogcount.paragraphs), @blogcount.wordcount) %></td>
    </tr>
    <% end %>
 </table>

 <% end %>

<%= link_to 'Edit', edit_blogcount_path(@blogcount) %> |
<%= link_to 'Back', blogcounts_path %>
